@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Color styles */
    --darker-blue: 231 33.3% 34.1%;
    --purple: 282 82.9% 52%;
    --blue: 230 76.2% 58.8%;
    --dark-blue: 230 30.8% 31.2%;
    --white: 0 0% 100%;
    --light-grey: 231 100% 97.5%;
    --lighter-grey: 230 60% 98%;
    --blue-grey: 224 20% 49%;
    --orange: 14 83.5% 73.9%;
    --bright-blue: 204 93.8% 68.2%;
    --red: 0 66.7% 52.9%;
    --grey: 227 17.6% 90%;
  }
}

@layer base {
  /* * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  } */
}
